
        /* START DEFAULT */
        h1,
        h2, h4, h5, h6, figure {
                            font-family: "Sacramento", Arial, serif;
                    }

        h3,
        button {
                            font-family: "Averia Serif Libre", cursive;
                    }

        p,
        .font-p,
        body {
                            font-family: "Poppins", sans-serif;
                    }


        .header1-story {
            font-size: 25px;
            color: #ffffff !important;
        }

        .story-card {
            background-color: #fff;
        }

        .story-card p {
            color: #212121 !important;
        }

        .story-card h3 {
            font-size: 20px;
            color: #212121 !important;
        }

        .header2-story {
            font-size: 50px;
            color: #ffffff !important;
        }

        .susunan-h1 {
            font-size: 50px;
            color: #ffffff !important;
        }

        .susunan-p {
            color: #202020 !important;
        }

        .susunan-card {
            color: #202020 !important;
        }

        .susunan-card p {
            color: #202020 !important;
        }

        .susunan-card h3 {
            color: #202020 !important;
        }

        .story-p {
            color: #202020 !important;
        }

        .titip-hadiah {
            color: #fff;
        }

        /* END DEFAULT */


        .ucapan {
            margin-top: -2px !important;
        }


        .ucapan .form-control {
            background-color: #fff !important;
        }

        .form-label {
            font-size: 20px !important;
            color: #fff;
        }

        .form-ucapan h2 {
            color: #fff !important;
        }

        .ucapan {
            background-color: #1a1c1c;
            background-image: none !important;
        }

        .form-group {
            background-color: transparent !important;
        }

        .box-ucapan {
            color: rgb(48, 48, 48);
        }


        body p {
            /* font-family: 'Ibarra Real Nova', serif; */
        }

        body {
            /* font-family: 'Ibarra Real Nova', serif; */
        }

        .container img {
            margin: 0 auto !important;
        }

        .fh5co-section-gray {
            background-color: #1a1c1c;
        }

        #fh5co-footer {
            background-color: #1a1c1c;
        }

        .devider1 {
            margin-top: -54px;
            margin-bottom: -29px;
        }

        .pojok-kiri-atas1 {
            position: absolute;
            width: 150px;
            top: -90px;
            left: -50px;
            transform: rotate(-20deg);
        }

        .pojok-kiri-atas2 {
            position: absolute;
            width: 200px;
            top: -120px;
            left: -50px;
            transform: rotate(-30deg);
        }

        .kanan-bawah1 {
            position: absolute;
            width: 150px;
            top: 700px;
            right: -50px;
            transform: rotate(-20deg);
        }

        .kanan-bawah2 {
            position: absolute;
            width: 200px;
            top: 600px;
            right: -50px;
            transform: rotate(-30deg);
        }

        .box-1 {
            /* position: relative; */
            height: auto;
            background: url('https://indoinvite.com/nikah/theme/bg-whitesky.jpg') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: auto;
        }

        .box-2 {
            background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 40%)),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/galery_09580001749812950.webp') no-repeat center;
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            background-color: #fff;

        }

        .box-2 p {
            color: #fff !important;
        }


        .box-3 {
            background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 40%)),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/galery_19580001749812951.webp') no-repeat center;
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            background-color: #fff;

        }

        .box-4 {
            background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 40%)),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/sampul_9580001749812730.jpeg') no-repeat center;
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            background-color: #fff;
        }

        .box-5 {
            background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 40%)),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/sampul_9580001749812730.jpeg') no-repeat center;
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            background-color: #fff;
        }

        .box-6 {
            background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 40%)),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/sampul_9580001749812730.jpeg') no-repeat center;
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            background-color: #fff;
        }

        .section2 p {
            color: rgba(255, 216, 164) !important;
        }

        .midle-vertikal {
            height: 100%;
            padding: 200px 20px;
        }

        .midle-vertikal-div {}

        .box-1 p {
            color: rgba(255, 216, 164);
        }

        .awal p {
            color: rgba(255, 216, 164) !important;
        }

        body {
            background-color: #fff !important;
        }

        .bg-gradient {
            background: none !important;
        }

        .simply-countdown>.simply-section {
            display: inline-block;
            width: 100px;
            height: 100px;
            background: #7a6e62;
            margin: 0 4px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            position: relative;
            animation: pulse 1s ease infinite;
        }

        .simply-countdown>.simply-section .simply-amount,
        .simply-countdown>.simply-section .simply-word {
            color: #fff !important;
        }

        .black-box p {
            font-size: 13px !important;
            color: rgba(255, 216, 164) !important;
            font-weight: 600;
        }

        .button-black {
            background-color: #d5aa6f;
            border-style: none;
            border-radius: 2px;
            color: #000;
            height: 40px;
        }

        .awal {
            background: linear-gradient(0deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 40%)),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/sampul_9580001749812730.jpeg') no-repeat center;
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: 999999;
            /* height: 100vh; */
            position: fixed;
            color: white !important;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            background-color: #24252a;
            height: 100vh;


        }

        .head {
            background: linear-gradient(-45deg, #0000007d, #0000008a),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/sampul_9580001749812730.jpeg') no-repeat center;
            background-size: 80vh;
            height: 80vh;

        }

        .head2 {
            background: linear-gradient(-45deg, #0000007d, #0000008a),
            url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/upload/galery_09580001749812950.webp') no-repeat center;
            background-size: 80vh;
            height: 100vh;

        }


        /* #page {
        background: url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/template/eternal-love/bg4.png') repeat center;
        background-color: #24252a;
    } */

        .motif {
            background: url('https://sin1.contabostorage.com/2db3bf1e16cd47a08843bb881e39cce7:indoinvite-staging/indoinvite-staging/indoinvite-staging/nikah/template/beautiful-white/patern.jpg') repeat center;
            background-color: #828282;
            padding-top: 60px;
            padding-bottom: 60px;

        }

        @keyframes  shrink {
            0% {
                transform: scale(1.05);
            }

            100% {
                transform: scale(1);
            }
        }

        .is-active {
            animation: shrink 7s;
        }
        #c-profile-id .circle{
    border: 4px solid #8b703a !important;
    }

    #c-profile-id p, #c-profile-id h1 {
    color: #dbac6f !important;
    }
    .btn-profile-acara-default{
        background-color: #8b703a !important;
        color: white !important;
    }

    .btn-profile-acara-default svg path{
        fill: white !important;
    }
    #fun-h1-id4a{
    color:  white !important;
    }
    #conference-timeline .timeline-start, #conference-timeline .timeline-end, #conference-timeline .conference-center-line{
    background-color: white !important;
    }
    .timeline-article p, .image-list-content p{
    color: white !important;
    }
    .timeline-article hr{
        border: 1px dashed white !important;
    }
    .timeline-article p span svg path{
    fill: white !important;
    }
    


    html, body {
        overflow-x: hidden;
    }

    img {
        pointer-events: none;
    }
    

    .form-label {
        font-size: 12px !important;
    }

    @font-face {
        font-family: "Java";
        src: url('https://indoinvite.com/font/Javassoul.ttf') format("truetype");
    }

    @font-face {
        font-family: "Paisley";
        src: url('https://indoinvite.com/font/Paisley.otf') format("truetype");
    }

    .box-shadow-new {
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    }

    @import  url("https://fonts.googleapis.com/css2?family=Joan&display=swap");

    .svg-loading {
        font-family: "Joan", sans-serif;
        width: 100%; height: 100%;
    }
    .svg-loading text {
        animation: stroke 3s infinite alternate;
        stroke-width: 0;
        stroke: #009cd9;
        font-size: 35px;
    }
    @keyframes  stroke {
        0%   {
            fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
            stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
        }
        70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
        80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 1.5; }
        100% {
            fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
            stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
        }
    }

    .selected-tab {
        border-bottom: 3px solid #4299e1 !important;
        color: #1d1d1d !important;
    }

    .edit-modal-body p {
        color: #222222 !important;
    }

    .elemen-tambah-edit {
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        flex-direction: column;
    }

    .elemen-tambah-edit-text {
        display: flex;
        font-size: 12px;
        color: #aaaaaa;
        font-style: italic;
    }

    .elemen-tambah-edit-svg {
        margin-top: 3px;
        margin-right: 5px;
    }

    @media (min-width: 768px) {
      .fix-menu {
        max-width: 400px !important;
      }
    }
    .m_scroll_arrows {
        display: block;
        width: 5px;
        height: 5px;
        transform: rotate(45deg);
        border-right: 2px solid   ;
        border-bottom: 2px solid   ;
        margin: 0 0 3px 4px;
        width: 15px;
        height: 15px;
    }



    .fix-menu svg{
        fill: black !important;
    }

    .menu-edit p {
        font-size: 10px !important;
    }

.splide__slide {
  height: 100vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
